

* {
  font-family: cairo;
}

@font-face {
  font-family: cairo;
  src: url(static/Cairo-Medium.ttf);
}

:root {
  --primary: #0f1f39;
  --secondary: #eae9e9;
  --primaryOP: #2c4160;
  --secondary2: #c2bfbd;
}

.pColor {
  color: var(--primary);
}

.sColor {
  color: var(--secondary);
}
.sColor2 {
  color: var(--secondary2);
}

.pColorOP {
  color: var(--primaryOP);
}

.sBg {
  background-color: var(--secondary);
}

.pBg {
  background-color: var(--primary);
}

.line {
  height: 12px;
  width: 12%;
  margin-top: 10px;
  background-color: var(--secondary2) !important;
}

.stepDiv {
  border-radius: 40px;
}

.stepDiv1 {
  border-radius: 40px;
  background-color: var(--secondary);
}

.pStep {
  width: 95%;
  font-size: 18px;
}

.titleStep {
  font-size: 28px;
}

/* button */

.btn_duration {
  background-color: white;
  color: var(--primary);
}

.btn_duration-outline {
  border: 1px solid white;
  color: var(--secondary);
  background-color: transparent;
}

.btn_duration-outline:hover {
  background-color: white;
  color: var(--primary);
}

.navColor {
  background-color: var(--primaryOP);
}

#socialBtn {
  margin-top: -7px;
}

#socialBtn2 {
  margin-top: -17px;
}

/* Hero Section - Home Page
------------------------------*/
.hero {
  /* min-height: 100vh; */
  display: flex;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
}
.heroh1 {
  font: 48px;
}
.hero p {
  color: rgba(var(--color-default-rgb), 0.8);
  margin: 5px 0 0 0;
  font-size: 25px;
}

.mainDiv {
  background: rgb(25, 45, 116);
  background: linear-gradient(
    90deg,
    rgba(25, 45, 116, 1) 0%,
    rgba(34, 44, 103, 1) 0%,
    rgba(38, 43, 96, 1) 43%,
    rgba(41, 42, 90, 1) 54%,
    rgba(52, 38, 70, 1) 100%
  );
  width: 100%;
  border-radius: 115px 115px 0 0;
  position: relative;
  z-index: 2;
}
.imgRectangle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index:-1;
}

.images1 {
  width: 120.23px;
  height: 47.23px;
  object-fit: contain;
}

@media only screen and (max-width: 990px) {
  .images1 {
    width: 70px;
    height: 20px;
  }
}

.sDiv {
  position: absolute;
  top: -40px;
  width: 55%;
  background-color: var(--primary);
}

.sDiv2 {
  width: 55%;
  background-color: var(--primary);
}
